body{
  margin: 0;
  padding: 0;
}
.contenidor{
 width:4rem;
 height:6rem;
 padding-top:0.5rem;
 padding-left:0.5rem;
 padding-right:0.5rem;
 border-radius:17px;
 float:left;
 margin: 5px;
 margin-top: 20px;
}
#default{
 background:#B0EAF6;
}

#movil{
  width: 360px;
  height: 100%;
}

.bocadillo{
 width:9rem;
 height:2.3rem;
 border-radius:12px 12px 0 12px;
 position:relative;
 margin:15px;
 clear:both;
}

.bocadillo:before{
 content:"";
 border-top:solid transparent 0.7rem;
 border-right:solid transparent 0.7rem;
 border-bottom:solid white 0.7rem;
 border-left:solid transparent 0.7rem;
 position:relative;
 float:right;
 top:15px;
 left:9px;
}

.esquerra{
 transform:scale(1,1);
 float:right;
 background: white;
 opacity: 50%;
}

.dreta{
 transform:scale(-1,1);
 background:white;
 width: 70px;
 height: 10px;
}

.dreta:before{
 border-bottom:solid white 0.7rem;
}
.circulo{
 width:2rem;
 height:2rem;
 background:black;
 border-radius:50%;
 clear:both;
 margin:0 auto;
 margin-top:12rem;
 border:solid 3px white;
}

.circulo:before{
 content:"";
 display:block;
 width:1.6rem;
 height:1.6rem;
 background:white;
 border-radius:50%;
 margin:0 auto;
 margin-top:0.22rem;
}

#turquesa{
 background:#68CFE7;
}

.esquerra2{
 transform:scale(1,1);
 float:right;
 background: white;
 opacity: 50%;
}

.dreta2{
 transform:scale(-1,1);
 background:white;
}

.dreta2:before{
 border-bottom:solid white 0.7rem;
}

#blau{
 background:#2CAAFE;
}

.esquerra3{
 transform:scale(1,1);
 float:right;
 background: white;
 opacity: 50%;
}

.dreta3{
 transform:scale(-1,1);
 background:white;
}

.dreta3:before{
 border-bottom:solid white 0.7rem;
}

#dark{
 background:#000000;
}


.java{
  width: 100%;
  height: 20rem;
  background: grey;
  padding-top: 1px;
}
.grande{
  margin-bottom:0px;
  padding-top:20px;
  margin-left:30px;
  margin-top:30px;
  margin-right:30px;
  width:300px;
  height:45px;
}

.grande:before{
  top:1.4rem;
}

    .bola, input {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: solid 3px #000;
      margin: 0px 30px;
      display: inline-block;
      padding: 0;
    }

.barra{
  width: 400%;
  height: 5rem;
  padding: 0px;
  padding-top: 10px;
  border-radius: 50px;

}

.slider{
  width: 350px;
  height: 5rem;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  clear: both;
  margin: 0 auto;
}
.slider::-webkit-scrollbar{
  display: none;
}
input{
  margin: 0;
  padding: 0;
  border: 0;
}

#color{
  margin: 0;
  padding: 0;
  border: 0;
}
input[type=color]{
  border-radius: 50%;
}
input[type=color]:focus{
  -webkit-appearance: none;
  outline: none;
}
input[type=color]::-webkit-color-swatch-wrapper{
  border-radius: 50%;
  padding: 0;
}
input[type=color]::-webkit-color-swatch{
  border: none;
  border-radius: 50%;
}
.nuevo1{
   transform:scale(-1,1);
  width: 60px;
  height: 37px;
  background-color: white;
  margin-left: 2px;
  margin-top: 3px;
}
.nuevo2{
  width: 60px;
  height: 37px;
  background-color: white;
  margin-left: 2px;
  margin-top: -10px;
  opacity: 50%;
}
