ul{
  width: 1000px;
  padding: 10px;
  margin: 0 auto;
}
li{
  background-color: cyan;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  box-shadow: #555 0px 0px 3px;
  background-size: 100%;
  background-color: green;
  font-family: Arial Black, Verdana, sans-serif;
  text-emphasis: bold;
  text-align: center;
  text-shadow: 0px 0px 5px grey;
  color: black;
}
li:hover{
  background-color: cyan;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  box-shadow: #555 0px 0px 3px;
  background-size: 100%;
  background-color: green;
  font-family: Arial Black, Verdana, sans-serif;
  text-emphasis: bold;
  text-align: center;
  text-shadow: 0px 0px 5px white;
  color: black;
}
/*
.anulador{
  clear: both;
}
*/
a{
  height: 200px;
  text-decoration: none;
}
#a00{
  background-image: url(img/a00.png);
}
#a01{
  background-image: url(img/a01.png);
}
#a02{
  background-image: url(img/a02.png);
}
#a03{
  background-image: url(img/a03.png);
}
#a04{
  background-image: url(img/a04.png);
}
#a05{
  background-image: url(img/a05.png);
}
#a06{
  background-image: url(img/a06.png);
}
#a08{
  background-image: url(img/a08.png);
}
#a09{
  background-image: url(img/a09.png);
}
#a10{
  background-image: url(img/a10.png);
}
#a11{
  background-image: url(img/a11.png);
}
#a12{
  background-image: url(img/a12.png);
}
